parameters:
    database_driver:   pdo_mysql
    database_host:     127.0.0.1
    database_port:     ~
    database_name:     symfony
    database_user:     root
    database_password: ~

    mailer_transport:  smtp
    mailer_host:       127.0.0.1
    mailer_user:       ~
    mailer_password:   ~

    locale:            en
    secret:            ThisTokenIsNotSoSecretChangeIt

    metagist.server.admins: ["bonndan@github"]

    metagist.github.client.id: ~ 
    metagist.github.client.secret: ~

    metagist.api.config:
        metagist.worker.config:
            - base_url: "http://seal/metagist-worker/api/"
            - consumer_key: "metagist.dev"
            - consumer_secret: "dev-test"
        metagist.consumers:
            - worker: "dev-test"
        metagist.services: %kernel.root_dir%/config/services.json

    jms_job_queue.statistics: false

    