{% extends 'MetagistServerBundle::layout.html.twig' %}
{% set pagetitle = 'metagist.org' %}

{% block content %}
<div class="row default-gradient">
    <div class="padded">
        <h1>Search results matching your query "{{query | e}}"</h1>
    </div>
    
    <div>
        {% for package in packages %}
            {% include 'MetagistServerBundle::packageteaser.html.twig' with {'package': package} %}
        {% endfor %}
        {% if packages.count == 0%}
            No results found.
        {% endif %}
    </div>
</div>

<div class="row default-gradient">
    {% if packages.count > 0%}
    <nav class="navbar navbar-inverse navbar-static-top pagination-nav" role="navigation">
        <ul class="nav navbar-nav">
        {{ pagination|raw }}
        </ul>
    </nav>
    {% endif %}
</div>
{% endblock %}
