{% extends 'MetagistServerBundle::layout.error.html.twig' %}
{% set pagetitle = 'metagist.org - Page not found' %}

{% block content %}
    <h1>Page not found</h1>

    <div>
        Something is broken. Please e-mail us at [email] and let us know
        what you were doing when this error occurred. We will fix it as soon
        as possible. Sorry for any inconvenience caused.
    </div>

{% if app.environment != 'prod' %}
    <h2>{{ exception.message}}</h2>
    <code>
        {{ exception.traceAsString |nl2br}}
    </code>
{% endif %}
{% endblock %}
