{% extends 'MetagistServerBundle::layout.html.twig' %}
{% set pagetitle = 'About metagist.org' %}

{% block content %}
<div class="row default-gradient padded">
    <h1>About metagist.org</h1>
    <p>Metagist is an attempt to leverage quality and transparency of <a href="http://getcomposer.org">composer</a> packages by
        collecting and providing quality-related information. It is meant to be used in addition to 
        <a href="https://packagist.org">Packagist.org</a>.
        
    </p>
    <p>
        This is Metagist version {{ constant('METAGIST_VERSION') }} - a Symfony 2 project using Twitter Bootstrap 3. Please feel free to improve the project at <a href="https://github.com/Wuzzitor/metagist-server">GitHub</a>. 
        Any feedback and new ideas are welcome and help is really needed.
        <br />
        <a href="https://github.com/bonndan">Daniel</a> 
    </p>
    <br />
    <h3>Contact</h3>
    <p>
        bonndan76 (at) gmail.com
    </p>
    <br />
    <h2>Package Branding and Copyrights</h2>
    <p>
        All logos and trademarks are property of their respective owners. Please
        issue requests to change, improve or remove package brandings at Github. 
        <br />
        <a class="btn btn-default" src="https://github.com/Wuzzitor/metagist-server/issues" target="_blank">
            Request a branding change here.
        </a>
    </p>
    
    <h2>Impressum</h2>
    <h5>Dienstanbieter i.S.d. § 2 TMG:</h5>
    <small>
    Dr. Daniel Pozzi<br />
    Am Römerlager 2<br />
    53117 Bonn<br />
    E-Mail:  bonndan76 (at) gmail.com
    </small>

    <h5>Inhaber und verantwortlicher Herausgeber i.S.d. § 55 RStV:</h5>
    <small>Dr. Daniel Pozzi</small>
</div>
{% endblock %}