{% extends 'MetagistServerBundle::layout.html.twig' %}
{% set pagetitle = 'metagist.org' %}

{% block content %}
<div class="row">
    <div class="default-gradient">
        <h1>Search results matching your query "{{query | e}}"</h1>
    </div>

    {% for package in packages %}
        {% include 'MetagistServerBundle::packageteaser.html.twig' with {'package': package} %}
    {% endfor %}
        
        
    {% if packages.count == 0%}
        No results found.
    {% else %}
        {{ pagination|raw }}
    {% endif %}
</div>
{% endblock %}
