{% extends 'MetagistServerBundle::layout.html.twig' %}
{% set pagetitle = 'metagist.org - My Profile' %}

{% block content %}
<div class="row padded default-gradient">
    
    <h1><img src="{{user.getAvatarUrl}}" alt="User icon" /> {{ user.getUsername }}`s Profile</h1>
    
    {% for rating in ratings %}
    {% include 'MetagistServerBundle::ratingteaser.html.twig' with {'rating': rating, 'hideAvatar': true} %}
    {% endfor %}
</div>
{% endblock %}
