{% extends 'MetagistServerBundle::layout.html.twig' %}
{% set pagetitle = 'Edit branding' %}

{% block content -%}
<div class="row default-gradient padded">
    
    <h1>Branding edit</h1>

    {{ form(edit_form) }}

        <a href="{{ path('admin_branding') }}">Back to the list</a>
    {{ form(delete_form) }}
</div>
{% endblock %}
